#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans- A database is a structured collection/repository of data. It is usually controlled by database management system. This data can be easily accessed and managed.

Difference between SQL and NoSQL database:

- Sql database is categorized as Relational database management system, whereas No-sql is categorized as non-relational system.
- Sql stands for structured query language and No-sql is not only sql.
- Sql database is in tabular structure whereas No-sql is structure as key-value pair, document based, graph based, etc.
- Sql databse uses queries and therefore it can handle complex queries whereas nosql cannot handle complex query as they are not powerful as sql queries.
- Sql databases are vertically scalable while nosql are horizontally scalable.
- My-sql, postgresSql, DB2, oracle, sqlite are SQL example whereas MongoDB, cassandra, CouchDB, Hbase, etc are Nosql example.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans- DDL stands for Data Definition language. It is used to define and modify the structure of database. It contains queries such as CREATE, ALTER, DROP, TRUNCATE, and RENAME.

Database name = test, table name = testnew

- CREATE: It creates a new database or table. 

Ex: CREATE DATABASE test; / CREATE TABLE testnew;

- DROP: Drop is used to delete the table or database. 

Ex: DROP DATABASE test; / DROP TABLE testnew;

- ALTER: The alter command is used to make changes to a table or database, it can add, modify, drop columns. 

Ex: ALTER TABLE testnew ADD Last_name VARCHAR(20);

- TRUNCATE: It is same as drop, the only difference is that while drop deletes the whole table and its content, the truncate command deletes the content of the table not the table itself.

Ex: TRUNCATE TABLE testnew;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans- DML stands for Database Manipulation Language. We create the table using DDL commands and then we use DML commands to manipulate the data inside the table and the table itself. With DML command we can reverse any changes made to the table.

- INSERT: Insert command is used to insert data into the table. We can add one or more rows to the table. 

Ex: INSERT INTO testnew
    (first_name, last_name, ...)
    VALUES('yash', 'keshari', ...)
    
- UPDATE: This command is used to make changes to the table data.

Ex: Update testnew
    SET employed=true
    WHERE age=12;
    
- DELETE: This command is used to remove a row from the table.

Ex: DELETE FROM testnew
    WHERE first_name = "yash";""")

#### Q4. What is DQL? Explain SELECT with an example.

Ans- DQL stands for data query language. This command is used for fetching data only. It make use of SELECT command to read and fetch data. we can use other condition clause such as WHERE clause.

- Select: This command is used to fetch data from the table. It can also use other condition clauses.

SELECT * FROM testnew;

#### Q5. Explain Primary Key and Foreign Key.

- Primary key: A primary key is used to assure that a column only has unique values. such a column cannot have NULL values. A table can only have single primary key and its value cannot be deleted.

- Foreign key: A foreign key is used to link data between two tables. A column from a table refers to another column from the different table. A table can have more than one foreign key. a columns with foreign key can contain null and duplicat values.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password"
)

print(mydb)

Ans- Cursor(): Cursor is used to execute the query and fetch the record from the database.

- Execute(): The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans- SELECT Customers.customer_id, Customers.first_name, Orders.amount, Orders.order_id
     FROM Customers
     JOIN Orders
     ON Customers.customer_id = Orders.customer_id
     WHERE Orders.order_id <=4
     ORDER BY Orders.order_id ASC
     LIMIT 2