#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans - MongoDB is an open source document oriented database that is design to store large scale of data and work with it efficiently. The storing of data and managing is not in tabular form hence the category Nosql. Its structure is like dictionary container of python. 

- Non-relational database is a database which is not in the tabular form i.e rows and columns. Example: documents, audio, movies, etc.

- Whereas sql data base i.e relational database is in the form of tables i.e rows and columns. So data which is not in the form of tables is stored using MongoDB. MongoDB is more faster than sql and support large amount of data.

#### Q2. State and Explain the features of MongoDB

Ans - Support ad hoc queries :In MongoDB, we can search by field, range query and it also supports regular expression searches.

- Indexing :You can index any field in a document.

- Replication :MongoDB supports Master Slave replication.
  A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

- Duplication of data :MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

- Load balancing :It has an automatic load balancing configuration because of data placed in shards.

- Supports map reduce and aggregation tools.

- It is a schema-less database written in C++.

- Provides high performance.

- Stores files of any size easily without complicating your stack.

- Easy to administer in the case of failures.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [51]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://cosmos:cosmos@horizon.3mjk9xv.mongodb.net/?retryWrites=true&w=majority")
db = client.test

# Database creation 
mybd = client['mydatabase']
                    
# Colleciton creation
mycoll = mybd['collection']

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [52]:
# Data creation
d = {'name': 'yash keshari', 
     'course': 'DataScience Master',
     'duration': '8 months'}

# Inserting one record
mycoll.insert_one(d)

In [54]:
# Data creation
d2 = [{'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'},
     {'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'},
     {'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'},
      {'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}]

# Inserting many records
mycoll.insert_many(d2)

In [74]:
# find_one() method

mycoll.find_one()

{'_id': ObjectId('643266b6fa57e25cd3b3ea8e'),
 'name': 'yash keshari',
 'course': 'DataScience Master',
 'duration': '8 months'}

In [75]:
# find method

for i in mycoll.find():
    print(i)

{'_id': ObjectId('643266b6fa57e25cd3b3ea8e'), 'name': 'yash keshari', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea8f'), 'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea90'), 'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea91'), 'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea92'), 'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea93'), 'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea94'), 'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea95'), 'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea96'), 'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans - To find data in mongobd collection we use find() method. It consist of find() and find_one() method. Both method returns occurance in our collection in database. We can also use condition to get specific data out of collection.

In [76]:
# find_one() method

mycoll.find_one()

{'_id': ObjectId('643266b6fa57e25cd3b3ea8e'),
 'name': 'yash keshari',
 'course': 'DataScience Master',
 'duration': '8 months'}

In [77]:
# find() method

for i in mycoll.find():
    print(i)

{'_id': ObjectId('643266b6fa57e25cd3b3ea8e'), 'name': 'yash keshari', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea8f'), 'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea90'), 'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea91'), 'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea92'), 'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea93'), 'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea94'), 'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea95'), 'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea96'), 'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans - The sort() method specifies the order in which the query returns the matching data from the given collection.

In [80]:
# using sort() method.

for i in mycoll.find().sort('name', 1) :
    print(i)

{'_id': ObjectId('64326709fa57e25cd3b3ea90'), 'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea94'), 'name': 'Ankit', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea8f'), 'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea93'), 'name': 'Ayush', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea91'), 'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea95'), 'name': 'Mallika', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326709fa57e25cd3b3ea92'), 'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('64326723fa57e25cd3b3ea96'), 'name': 'Ruchi', 'course': 'DataScience Master', 'duration': '8 months'}
{'_id': ObjectId('643266b6fa57e25cd3b3ea8e'), 'name': 'yash keshari', 'course': 'DataScience Master', 'duration': '8 months'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans- Delete_one(): To delete one document we use Delete_one() method.
    Delete_many(): To delete more than one document we use Delete_many() method.
    Drop(): To delete a collection in mongobd we use Drop() method.