In [1]:
import pandas as pd
import numpy as np

#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
df = pd.Series(data = [4,8,15,16,23,42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [11]:
x = [i for i in range(1,6)]
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

In [13]:
data = {'Name': ["Alice", 'Bob', 'Clair'], 'Age': [25,30,27] , 'Gender':['Female', 'Male', 'Female']}

In [15]:
df1 = pd.DataFrame(data = data)
df1

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans: DataFrame is a 2-dimensional labeled data structure just like spreadsheet or excel. It contains rows and columns just like excel. Whereas Series is a 1-dimensional data structure and each column of a dataFrame is a pandas series. The columns size must be same in dataframe and can contain any type of values in it.

In [25]:
a = [i for i in range(1,6)]

# dataframe creation
df2 = pd.DataFrame(a, columns = ['num'])

# Series creation
s = pd.Series(a)

In [29]:
print(f"This is series example: \n\n{s}")

This is series example:

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
print(f"This is dataframe example: ")
df2

This is dataframe example:

   num
0    1
1    2
2    3
3    4
4    5

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: All three data structure i.e series, dataframe and panel are mutable in pandas but series are immutable in terms of size/length i.e we cannot change the size of series.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
s1 = pd.Series([1,2,3,])