#### Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [28]:
a = [2,3,4,5,6,7]

In [29]:
a.append('mango')

In [30]:
a.extend(['banana', 'grapes', 'orange'])

In [31]:
a.insert(5, 'apple')

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes', 'orange']

In [32]:
a.pop(-1)

'orange'

In [33]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes']

#### Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [39]:
l1 = [1,2,3,4,5,6,7]

In [40]:
l1[1:4]

[2, 3, 4]

#### Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [42]:
l2 = [4,5,6,8,3]

In [43]:
l2[::-1]

[3, 8, 6, 5, 4]

#### Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [44]:
l3 = [2,4,7,3,6,8]

In [46]:
l4 = [i**2 for i in l3]
l4

[4, 16, 49, 9, 36, 64]

#### Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [95]:
def sum_integer(n1):
    n = list(n1)
    s = 0
    for i in n:
        s += i
    return s

In [97]:
sum_integer((1,2,3))

6

#### Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [98]:
fruits1 = {'mango', 'kiwi', 'apple', 'banana', 'pineapple'}
fruits2 = {'mango', 'grapes', 'papaya', 'apple', 'strawberry'}

In [99]:
fruits1.union(fruits2)

{'apple',
 'banana',
 'grapes',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry'}

#### Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [101]:
word1 = {'w','s','h','k','l'}
word1.add('a')
word1

{'a', 'h', 'k', 'l', 's', 'w'}

#### Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [103]:
animals1 = {'cat', 'dog', 'cow', 'monkey', 'donkey'}
animals1.remove('cat')
animals1

{'cow', 'dog', 'donkey', 'monkey'}

#### Q9. Use the zip() function to combine the book set and movie list into a list of tuples  representing book/movie pairs. Print the resulting list.

In [105]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

In [106]:
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [107]:
list(zip(favorite_books, favorite_movies))

[('To Kill a Mockingbird', 'The Shawshank Redemption'),
 ('Pride and Prejudice', 'The Godfather'),
 ('1984', 'The Dark Knight')]

#### Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [125]:
l1 = [1,3,6,8,10]
diff = []
for index, value in enumerate(l1):
    if index < (len(l1) - 1):
        diff.append(l1[index+1] - l1[index])

In [126]:
diff

[2, 3, 2, 2]